.headers {
        background: yellow !important;
        float: inherit !important;
}
.pageMain {
  /* background: linear-gradient(yellow, green);
    background-color: powderblue !important;
    */
    background-color: powderblue;
}
/*img {
    max-width: 500px;
    width:25% !important;
    height:25% !important;
    float:center;

opacity: 0.5;
}*/
.datas{
    padding: 5%;
}
.footers{
    background-color: lightslategrey !important;
    float: inherit;
}
a{
    background-color: lightslategrey !important;
}



.imgMenu{
    width:10% !important;
    height:10% !important;
}
.logo{
    width:45% !important;
    height:45% !important;
    padding: 5%;
}
.imgFooter{
    width:25% !important;
    height:25% !important;
}
#rutaParadas{
    float:inherit;
    align-content: flex-end;
}
.floating-box {
    float: left;
    width: 75px;
    height: 75px;
    border: 3px solid #73AD21;  
}